body {
  background-color: #495874;
  margin:0px;
}

.letter {
  text-align: center;
  fill: white;
  font-family: 'Work Sans';
  font-size: 7vh;
  font-weight: 600;
}

.base-color {
  fill: #e6e9ec
}

.vertical-found {
  fill: #FC451E;
}

.horizontal-found {
  fill: #38E83E
}
