body {
  background-color: #2c323c;
  margin:0px;
}

.letter {
  text-align: center;
  fill: white;
  font-family: 'Work Sans';
  font-size: 7vh;
  font-weight: 600;
}

.base-color {
  fill: #e6e9ec;
}

.vertical-found {
  fill: #59bef9;
  /*fill: #ff1bee; /*fuscha */*/
}

.horizontal-found {
  fill: #f5dc85
  fill: #00f1c3 /* sea green */
}

.color-1 {
  fill: #ff1bee;
}

.color-2 {
  fill: #00e9f9;
}

.color-3 {
  fill: #fafd0b;
}

.color-4 {
  fill: #00f149;
}

.color-5 {
  fill: #ff8600;
}
.color-6 {
  fill: #FF0000;
}
